
# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

#word_onset

# prova
prova.py
prova_pos.py
word_OnsetOffsetBHL.py
word_onset

#egg_pipeline
eeg_pipeline/
mainEEG.py

provetteEEG/

predittore_eeg.txt
