
# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

#word_onset
word_onset.py

# prova
prova.py
prova_pos.py
word_onset_features.py

#egg_pipeline
eeg_pipeline/